extends ../_base.pug

block content
  .content-section
    h1 {{star.title}}
    .row
      .col-md-4
        +panel("Planet", false, false, true)
          div(class="well well-sm btn-toolbar well-toolbar", role="toolbar", aria-label="toolbar")
            | &nbsp;
            a(href="{{ url_for('world.star_edit') }}", class="btn btn-sm btn-primary", data-toggle="tooltip", title="Добавить") <i class="fa fa-plus"></i>
          div
            .table-responsive
              table(class="table table-bordered table-hover")
                thead
                  tr
                    th(class="col-md-4 col-lg-4 col-sm-4")
                    th
                      | Planet
                tbody
                  | {% for i in planets %}
                  tr
                    td 
                      center
                        div(class="btn-group btn-group-xs")
                          a(href="{{ url_for('world.planet_show', id=i.id) }}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Просмотреть")
                            i(class="fa fa-search")
                          | {% if i.id %}
                          a(href="{{ url_for('world.planet_edit', id=i.id) }}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Редактировать")
                            i(class="fa fa-edit")
                          a(data-href="{{ url_for('world.planet_del', id=i.id) }}", class="btn btn-sm btn-primary confirm" data-toggle="modal", title="Удалить", data-text="Вы уверены, что хотите удалить эту запись?", data-target="#confirm-del")
                            i(class="fa fa-eraser")
                          | {% else %}
                          a(href="{{ url_for('world.planet_edit', title=i.title, galaxy_id=star_id, image=i.image) }}", class="btn btn-sm btn-primary" data-toggle="tooltip", title="Редактировать")
                            i(class="fa fa-edit")
                          a(data-href="#", class="btn btn-sm btn-primary confirm disabled" data-toggle="modal", title="Удалить", data-text="Вы уверены, что хотите удалить эту запись?", data-target="#confirm-del")
                            i(class="fa fa-eraser")
                          | {% endif %}
                    td
                      | {% if i.id %}
                      a(href="{{ url_for('world.planet_show', id=i.id) }}") {{i}}
                      | {% else %}
                      a(href="{{ url_for('world.planet_show', galaxy_title=i.title, galaxy_id=star_id, image=i.image) }}") {{i}} 
                      span(class="label label-info") Generate
                      | {% endif %}

                  | {% endfor %}
      .col-md-8
        div(style="overflow-x:scroll; overflow-y:hidden; background-color:black; color:white; height:450px;")
          div(style="width: 6000px;")
            div(style="float:left; height:450px; width:150px; margin-right:25px;")
              div
                img(src="{{star.image_file}}")
              div
                | {{star}}
            div(style="float:left; display:table; width: 5000px; position: relative;")
              | {% for i in planets %}
              div(style="display:table; position:absolute; width:{{i.size}}px; left:{{i.from_sun * 2}}px; vertical-align: middle;")
                a(href="{{ url_for('world.planet_show', id=i.id) }}")
                  div(style="display:table-cell; width:{{i.size}}px; height:400px; vertical-align: middle;")
                    img(src="{{i.image_file}}", width="{{i.size}}")
                    div(style="width:{{i.size}}px;")
                      | {{i}}
              | {% endfor %}
          //-
            div(style="background-color:black; color:white; height:450px; width: 2000px;")
              div(style="display:inline-block;")
                div
                  img(src="{{star.image_file}}")
                div
                  | {{star}}
              div(style="display:inline-block; height:450px; width: 1500px; position: relative;")           
                | {% for i in planets %}
                div(style="display:inline-block; vertical-align:middle; position:absolute; width:{{i.size}}px; left:{{i.from_sun}}%;")
                  div
                    img(src="{{i.image_file}}", width="{{i.size}}")
                  div(style="width:{{i.size}}px; overflow:hidden;")
                    | {{i}}
                | {% endfor %}
        div {{star.description}}